@charset "UTF-8";

/* 全画面共通CSS */
* {
	background: #d9d784
}


/* ドロワーボタン */
.container {
	display: flex;
	justify-content: space-between;
}

/* ドロワーナビゲーションの必須スタイル */
#nav {
	position: fixed;
	right: -270px;
	top: 0;
	width: 300px;
	height: 100%;
}

ul {
	list-style: none;
}

.menu #menu_logo{
	background-color: #76b900;
    color: #fff;
    line-height: 5;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 18px;
}
.menu #menu_space {
	background-color: #76b900;
    height: 500px;
}
.menu-btn,
.menu-btn span {
	display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    right: 1260px;
}
.menu-btn {
	top: 25px;
    display: block;
    float: right;
    margin: 0 auto;
    position: fixed;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.menu-btn span {
    position: absolute;
    left: 0;
    width: 48px;
    height: 5px;
    background-color: #fff;
}

.menu-btn span:nth-of-type(1) {
    top: 0;
}
.menu-btn span:nth-of-type(2) {
    top: 13px;
}
.menu-btn span:nth-of-type(3) {
    bottom: 0;
}
/* ドロワーメニュー */
.menu {
    display: none;
    position: fixed;
    top: -2.4%;
    left: -4.0%;
    width: 260px;
}
.menu li {
    box-sizing: border-box;
    border-bottom: 1px solid;
    color: #D3E6E6;
    font-weight: bold;
}
.menu li a {
    background: #76b900;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 38px;
    padding: 5px 38px;
    text-decoration: none;
    width: 100%;
    transition: 0.5s;
}
.menu li a:hover {
	background-color: #009900;
	color: #fff;
}

